.text {
//background-color:#ffffff;
font-family: "SelfModern-Regular";
font-size: 60px;
font-weight: normal;
font-variant: normal;
font-style : italic;
text-transform: uppercase;
color: #000000;
top:0px;
margin-top: 2px;
height: 70px;
width : 100% ;

}

.banniere {
background-color:#000000;
font-family: "SelfModern-Regular";
font-size: 60px;
font-weight: normal;
font-variant: normal;
font-style : italic;
text-transform: uppercase;
color: #ffffff;
bottom:0px;
margin-top: 2px;
height: 70px;
width : 100% ;

}
